<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-Modules" data-toc-modified-id="Import-Modules-1">Import Modules</a></span></li><li><span><a href="#General-Outline" data-toc-modified-id="General-Outline-2">General Outline</a></span><ul class="toc-item"><li><span><a href="#Hypothesis:--Does-inclusion-of-consumer-price-index-(cpi)-improve-model-prediction-score-for-sales?" data-toc-modified-id="Hypothesis:--Does-inclusion-of-consumer-price-index-(cpi)-improve-model-prediction-score-for-sales?-2.1">Hypothesis:  Does inclusion of consumer price index (cpi) improve model prediction score for sales?</a></span></li></ul></li><li><span><a href="#Import-data" data-toc-modified-id="Import-data-3">Import data</a></span></li><li><span><a href="#Data" data-toc-modified-id="Data-4">Data</a></span><ul class="toc-item"><li><span><a href="#Description-of-columns-and-values--" data-toc-modified-id="Description-of-columns-and-values---4.1">Description of columns and values -</a></span></li></ul></li><li><span><a href="#Stores.csv-Exploratory-Data-Analysis" data-toc-modified-id="Stores.csv-Exploratory-Data-Analysis-5">Stores.csv Exploratory Data Analysis</a></span></li><li><span><a href="#Train.csv-Exploratory-Data-Analysis" data-toc-modified-id="Train.csv-Exploratory-Data-Analysis-6">Train.csv Exploratory Data Analysis</a></span></li><li><span><a href="#Features.csv-Exploratory-Data-Analysis" data-toc-modified-id="Features.csv-Exploratory-Data-Analysis-7">Features.csv Exploratory Data Analysis</a></span></li><li><span><a href="#Features-Data-Wrangling" data-toc-modified-id="Features-Data-Wrangling-8">Features Data Wrangling</a></span></li><li><span><a href="#df_train-and-Weekly_Sales" data-toc-modified-id="df_train-and-Weekly_Sales-9">df_train and Weekly_Sales</a></span><ul class="toc-item"><li><span><a href="#Plot-of-Weekly_Sales-for-individual-stores" data-toc-modified-id="Plot-of-Weekly_Sales-for-individual-stores-9.1">Plot of Weekly_Sales for individual stores</a></span></li><li><span><a href="#Plot-of-Weekly_Sales-for-departments-within-a-store" data-toc-modified-id="Plot-of-Weekly_Sales-for-departments-within-a-store-9.2">Plot of Weekly_Sales for departments within a store</a></span></li></ul></li></ul></div>

# Import Modules

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import seaborn as sns


import ipywidgets as widgets
from ipywidgets import interact, interact_manual

# General Outline

## Hypothesis:  Does inclusion of consumer price index (cpi) improve model prediction score for sales?

download data

1.  consumer price index:  

four dataframes: 
- df_stores 
- df_features
- df_test
- df_train

In [2]:
!ls

Capstone 3 Data Wrangling.ipynb capstone 3 project data

# Import data

In [3]:
df_stores = pd.read_csv('./capstone 3 project data/stores.csv')

In [4]:
df_features = pd.read_csv('./capstone 3 project data/features.csv')

In [5]:
df_test = pd.read_csv('./capstone 3 project data/test.csv')

In [6]:
df_train = pd.read_csv('./capstone 3 project data/train.csv')

# Data

## Description of columns and values - 

from kaggle.com-

 - stores.csv

This file contains anonymized information about the 45 stores, indicating the type and size of store.

 - train.csv

This is the historical training data, which covers to 2010-02-05 to 2012-11-01. Within this file you will find the following fields:

Store - the store number <br>
Dept - the department number <br>
Date - the week <br>
Weekly_Sales -  sales for the given department in the given store <br>
IsHoliday - whether the week is a special holiday week <br>

 - test.csv

This file is identical to train.csv, except we have withheld the weekly sales. You must predict the sales for each triplet of store, department, and date in this file.

 - features.csv

This file contains additional data related to the store, department, and regional activity for the given dates. It contains the following fields:

Store - the store number <br>
Date - the week <br>
Temperature - average temperature in the region <br>
Fuel_Price - cost of fuel in the region <br>
MarkDown1-5 - anonymized data related to promotional markdowns that Walmart is running. MarkDown data is only available after Nov 2011, and is not available for all stores all the time. Any missing value is marked with an NA. <br>
CPI - the consumer price index <br>
Unemployment - the unemployment rate <br>
IsHoliday - whether the week is a special holiday week <br>
For convenience, the four holidays fall within the following weeks in the dataset (not all holidays are in the data):

Super Bowl: 12-Feb-10, 11-Feb-11, 10-Feb-12, 8-Feb-13 <br>
Labor Day: 10-Sep-10, 9-Sep-11, 7-Sep-12, 6-Sep-13 <br>
Thanksgiving: 26-Nov-10, 25-Nov-11, 23-Nov-12, 29-Nov-13 <br>
Christmas: 31-Dec-10, 30-Dec-11, 28-Dec-12, 27-Dec-13 <br>

# Stores.csv Exploratory Data Analysis

Examine Type, Size values

1.  There are three store types.  There are 22 'A' Type stores, 17 'B' Type stores, and 6 'C' Type Stores.

2.  Grouping the data by store type and computing median of each group

    A type store median size: 202406.0 <br>
    B type store median size: 114533.0 <br>
    C type store median size: 39910.0

In [7]:
df_stores.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [8]:
df_stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Store   45 non-null     int64
 1   Type    45 non-null     object
 2   Size    45 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB

In [9]:
#  inspect df_stores for missing, nan values.  no missing values

df_stores.isna().sum()

Store    0
Type     0
Size     0
dtype: int64

In [10]:
df_stores.Type.unique()

print("A type store count:{0} \nB type store count:{1} \nC type store count:{2}".format(
    df_stores[df_stores['Type'] == 'A'].count(), df_stores[df_stores['Type'] == 'B'].count(),
    df_stores[df_stores['Type'] == 'C'].count()))

A type store count:Store    22
Type     22
Size     22
dtype: int64
B type store count:Store    17
Type     17
Size     17
dtype: int64
C type store count:Store    6
Type     6
Size     6
dtype: int64

In [11]:
print(df_stores[df_stores['Type'] == 'A'].describe())
print(df_stores[df_stores['Type'] == 'B'].describe())
print(df_stores[df_stores['Type'] == 'C'].describe())

           Store           Size
count  22.000000      22.000000
mean   22.227273  177247.727273
std    13.078269   49392.621098
min     1.000000   39690.000000
25%    11.500000  155840.750000
50%    25.000000  202406.000000
75%    32.750000  203819.000000
max    41.000000  219622.000000
           Store           Size
count  17.000000      17.000000
mean   18.352941  101190.705882
std    11.028039   32371.137916
min     3.000000   34875.000000
25%    10.000000   93188.000000
50%    17.000000  114533.000000
75%    23.000000  123737.000000
max    45.000000  140167.000000
           Store          Size
count   6.000000      6.000000
mean   39.000000  40541.666667
std     5.215362   1304.145033
min    30.000000  39690.000000
25%    37.250000  39745.000000
50%    40.000000  39910.000000
75%    42.750000  40774.000000
max    44.000000  42988.000000

In [12]:
# each store type group shows some overlap with over store types in size values distribution.  
# there is a large difference between mean and median values for Type "A" store sizes.

print("A type store median size: {0} \nB type store median size: {1} \nC type store median size: {2}".format(
    df_stores[df_stores['Type'] == 'A']['Size'].median(), df_stores[df_stores['Type'] == 'B']['Size'].median(),
    df_stores[df_stores['Type'] == 'C']['Size'].median()))

A type store median size: 202406.0
B type store median size: 114533.0
C type store median size: 39910.0

# Train.csv Exploratory Data Analysis

In [13]:
df_train.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False

In [14]:
df_train.groupby(['Store', 'Date']).sum()

                  Dept  Weekly_Sales  IsHoliday
Store Date
1     2010-02-05  3184    1643690.90          0
      2010-02-12  3137    1641957.44         72
      2010-02-19  3184    1611968.17          0
      2010-02-26  3137    1409727.59          0
      2010-03-05  3215    1554806.68          0
...                ...           ...        ...
45    2012-09-28  2853     713173.95          0
      2012-10-05  2952     733455.07          0
      2012-10-12  2853     734464.36          0
      2012-10-19  2853     718125.53          0
      2012-10-26  2907     760281.43          0

[6435 rows x 3 columns]

In [15]:
df_train.info()
df_train.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB

Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
dtype: int64

In [16]:
# Group by Store

df_train.groupby(['Store','Dept']).sum('Weekly_Sales')

            Weekly_Sales  IsHoliday
Store Dept
1     1       3219405.18         10
      2       6592598.93         10
      3       1880518.36         10
      4       5285874.09         10
      5       3468885.58         10
...                  ...        ...
45    94       494496.46         10
      95      7564151.83         10
      96            5.94          0
      97       924775.55         10
      98        75767.27         10

[3331 rows x 2 columns]

In [17]:
# - Code Example - 

# Create the base figure
fig = go.Figure()

# Loop through the species
for species in ['Adelie', 'Chinstrap', 'Gentoo']:
  # Add a bar chart trace
  fig.add_trace(go.Bar(x=islands,
    # Set the appropriate y subset and name
    y=penguins_grouped[penguins_grouped.Species == species]['Count'],
    name=species))
# Show the figure
fig.show()


# species subplots example

fig = make_subplots(rows = 3, cols=1, shared_xaxes=True, shared_yaxes='columns',
                   subplot_titles = ['setosa', 'versicolor', 'virginica'],
                   row_heights = (50,50,50))

row_num = 1

for variety in df['species'].unique():
    # filter df for specific species
    df_ = df[df.species == variety]
    # add scatter of petal_width vs petal_length
    fig.add_trace(go.Scatter(x=df_['petal_width'], y=df_['petal_length'], name = variety, mode ='markers'),
    # position the trace             
    row=row_num, col = 1)
    row_num +=1
    # axes
    fig.update_layout({'xaxis': {'title' : {'text':'Petal Length'}},
                 'yaxis': {'title' : {'text':'Count'}}})
                  

    

# show the plot

fig.show()

NameError: name 'islands' is not defined

In [ ]:
df_subset = df_train[df_train['Store'] == 1]
#df_subset[df_subset['Dept'] == 1]
#df_subset[df_subset['Dept'] == 1].Weekly_Sales

In [ ]:
# Simplified plot of Store 1, Dept 1 Weekly_Sales

fig = go.Figure()

fig.add_trace(go.Scatter(x=df_subset['Date'], y = df_subset[df_subset['Dept']==1].Weekly_Sales,
                         mode = 'markers'))

fig.show()

In [ ]:
# For Store 1, plot Weekly Sales for all departments.

df_subset = df_train[df_train['Store'] == 1]

# Create the base figure
fig = go.Figure()

# Loop through the Dept
for value in df_subset['Dept'].unique():
    # Add a line chart trace
    fig.add_trace(go.Scatter(x=df_subset['Date'], y = df_subset[df_subset['Dept']==value].Weekly_Sales,
                             name = str(value), mode = 'markers'))
                
fig.show()

# Features.csv Exploratory Data Analysis

In [ ]:
df_features.head()

# Features Data Wrangling

In [ ]:
df_features.head()

In [ ]:
df_features.info()

In [ ]:
# Percentage of values for each features that are missing
df_features.isna().sum()/8190 * 100

In [ ]:
df_features.describe()

In [ ]:
df_features[df_features.MarkDown1.notna()]

# df_train and Weekly_Sales

Procedure:

1.  For each store, plot Weekly Sales over the time.
    a.  Within each store, plot the Weekly_Sales of each Dept over time.

In [ ]:
df_train.head()

In [ ]:
# Initial look at Weekly_Sales data.  For each store, total sales of all departments over period.  
# Rank stores in order of increasing sales

df_train.groupby('Store').sum().sort_values('Weekly_Sales')

## Plot of Weekly_Sales for individual stores

In [ ]:
df_train['Dept'].unique()
len(df_train['Dept'].unique())

In [ ]:
df_train[df_train['Store'] == 1].sort_values('Dept')

In [ ]:
df_train[df_train['Store'] == 1]['Dept'].unique()
len(df_train[df_train['Store'] == 1]['Dept'].unique())

In [ ]:
# Store #1 Weekly_Sales by Dept

store = df_train[df_train['Store'] == 1].sort_values('Dept')

# Filter Store 1 by Dept 1

store_ = store[store['Dept'] == 1]

# Plot Weekly Sales for Store 1 Dept 1

fig = px.scatter(data_frame=store_, x='Date',
                 y='Weekly_Sales', size='Weekly_Sales', color='IsHoliday')
#,
#                                   # Add columns to the hover information
#                   hover_data=['sepal_length',
#                               'sepal_width', 'petal_width'],
#                   # Add bold variable in hover information
#                   hover_name='species')

fig.update_layout(legend_title_text = "Store 1 Dept 1 Weekly Sales")
fig.update_xaxes(title_text = "Date")

fig.show()

In [ ]:
fig = px.scatter(data_frame=df, x='petal_length',
                 y='petal_width', size='sepal_length', color='species',
                                   # Add columns to the hover information
                   hover_data=['sepal_length',
                               'sepal_width', 'petal_width'],
                   # Add bold variable in hover information
                   hover_name='species')

fig.update_layout(legend_title_text = "Iris Petal Length Histogram")
fig.update_xaxes(title_text = "Petal Length")

In [ ]:
# Interactive 

@interact
def show_weeks_with_sales_more_than(column='Store', x=5000, column_='Dept', y=54):
    return df_train.sort_values(column, column_)


#df_train.groupby('Store').sum().sort_values('Weekly_Sales')

#df_train.loc[:,df_train[column] > x, df_train[column_] == y]

#@interact
#def show_articles_more_than(column='claps', x=5000):
#    return df.loc[df[column] > x]

## Plot of Weekly_Sales for departments within a store